.CenterContent {
  width: 630px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.stories {
  padding: 0 8px;
  padding-bottom: 20px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.itemStories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 74px;
  cursor: pointer;
  text-align: center;
}

.itemStories img {
  object-fit: cover;
}

.itemStories span {
  max-width: 74px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

header {
  display: flex;
  align-items: center;
  align-self: center;
  padding: 10px 0px;
  width: 468px;
  justify-content: space-between;
}

.conteudo-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.conteudo-header span {
  font-weight: 600;
}

.borda {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#c82d8e, #f99d4c);
}

.borda-post {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#c82d8e, #f99d4c);
}

.conteudo-header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.post {
  width: 100%;
}

.post img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  border-right: 1px solid var(--border);
  object-fit: cover;
}

.feed {
  width: 468px;
  margin: 0 auto;
}

.feed svg {
  cursor: pointer;
}

.icones {
  display: flex;
  justify-content: space-between;
}

.icones svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icones-publi svg {
  margin-right: 10px;
}

.section-comments {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

.section-comments p strong {
  cursor: pointer;
}

.section-comments p:nth-child(3) {
  color: gray ;
}

.comment {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 14px;
}

.divisao {
  margin-top: 15px;
  margin-bottom: 20px;
}
